# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\graduation-design\house-spider\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
